{% extends 'base.html' %}


{% block content %}


<h2><b>Reset your access code</b></h2>

<div class="form-group" width=80%>
<br/><br/>
    <div style="width: 70%; text-align: left;">
        <h6><b>Enter your new code</b></h6>
        <form method = 'POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <ul>
                <li>password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
            <button type="submit" class="btn btn-primary">Reset!</button>
        </form> 
        <div class="border-top pt-4">
            <small class="text-muted">
                <a href="{% url 'home' %}"Changed your mind?></a>
            </small>
        </div>    
    </div>  
</div>

{% endblock %}
