{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}

    <h1>Discard this?</h1>
    <br/> 
    <h3>Delete: {{ post.title }} </h3>

    <div class="form-group">
        <form method = 'POST'>
            {% csrf_token %}
            <strong>Last chance! Are you sure?</strong><br/>
            <button class="btn btn-primary">Trash it?!</button>    
        </form>   
    </div>
{% else %}
    <h1>INTRUDER ALERT!!</h1>
    <br/>
    <h2>You need to <a href="{% url 'login' %}">sign in</a> to delete a post</h2>

{% endif %}

{% endblock %}
